@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-6 py-3 text-center font-display font-medium rounded-lg transition-all duration-200;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-secondary {
  @apply border border-white/50 text-white/80 hover:bg-white/5 hover:text-white;
}

.btn-outline {
  @apply border border-white/50 text-white/80 hover:bg-white/5 hover:text-white;
}